{% load static %}
{% load get from websitefilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon.png" %}">
        <link rel="icon" type="image/png" href="{% static "favicon.png" %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
              name='viewport'/>
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!--Library styles-->
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/fontawesome-all.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery.mCustomScrollbar.min.css" %}">

        <!--OWN styles-->
        <link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/sidebar-themes.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/material-dashboard.css" %}?v=2.1.1">
        <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">

        <title>{% block title %}{{ page_name }}{% endblock %} - Botman</title>
    {% endblock %}
</head>
<body>
<!-- page-wrapper -->
<div class="page-wrapper default-theme sidebar-bg bg1 toggled boder-radius-on">
    {% block menu %}
        {% include 'menu.html' %}
    {% endblock %}
    <!-- page-content" -->
    {% block content_wrapper %}
        <main class="page-content pt-2">
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock %}
            <div id="overlay" class="overlay"></div>
            <div class="container-fluid pl-4 pr-4">
                {% block content %}{% endblock %}
            </div>
        </main>
    {% endblock %}
    <!-- page-content" -->
</div>
<!-- page-wrapper -->
<!--   Core JS Files   -->
{% block js %}
    <script src="{% static "js/core/jquery.min.js" %}"></script>
    <script src="{% static "js/core/popper.min.js" %}"></script>
    <script src="{% static "js/core/bootstrap.min.js" %}"></script>
    <script src="{% static "js/core/bootstrap-material-design.min.js" %}"></script>
    <script src="{% static "js/plugins/perfect-scrollbar.jquery.min.js" %}"></script>
    <!-- Plugin for the momentJs  -->
    <script src="{% static "js/plugins/moment.min.js" %}"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="{% static "js/plugins/sweetalert2.js" %}"></script>
    <!-- Forms Validations Plugin -->
    <script src="{% static "js/plugins/jquery.validate.min.js" %}"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="{% static "js/plugins/jquery.bootstrap-wizard.js" %}"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="{% static "js/plugins/bootstrap-selectpicker.js" %}"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="{% static "js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="{% static "js/plugins/jquery.dataTables.min.js" %}"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="{% static "js/plugins/bootstrap-tagsinput.js" %}"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{% static "js/plugins/jasny-bootstrap.min.js" %}"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="{% static "js/plugins/fullcalendar.min.js" %}"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="{% static "js/plugins/jquery-jvectormap.js" %}"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="{% static "js/plugins/nouislider.min.js" %}"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>#}
    <!-- Library for adding dinamically elements -->
    <script src="{% static "js/plugins/arrive.min.js" %}"></script>
    <!-- Chart JS -->
    <script src="{% static "js/Chart.bundle.min.js" %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static "js/plugins/bootstrap-notify.js" %}"></script>
    <!-- Navbar js -->
    <script type="text/javascript" src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <!-- Pluralize js -->
    <script src="{% static "js/pluralize.js" %}"></script>

    <script defer src="{% static "js/sidebar.js" %}"></script>
    <script defer src="{% static "js/custom.js" %}"></script>
    <script>
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/notification");
        socket.onmessage = function (e) {
            data = JSON.parse(e.data);
            notification(data['notification']['type'], data['notification']['text']);
        };
        {% if notification %}
            notification("{{ notification|get:"type:info" }}", "{{ notification|get:"text:Empty" }}");
        {% endif %}
    </script>
{% endblock %}
</body>
</html>
