{% extends "base.html" %}
{% load i18n %}
{% block content %}
     <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 pl-1 pr-1">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <p class="card-category">{% trans "API Status" %}</p>
                    <div id="api_status" class="card-title">
                        <h3 class="float-left text-success">{% trans "Loading..." %}</h3>
                    </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">sync</i> {% trans "Last restart" %}: 22.08.2019 10:34
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 pl-1 pr-1">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <p class="card-category">{% trans "Bot Status" %}</p>
                    <div id="bot_status" class="card-title">
                        <h3 class="float-left text-success">{% trans "Loading..." %}</h3>
                    </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">sync</i> {% trans "Started" context "When bot was started" %}: 22.08.2019 10:34
                  </div>
                </div>
              </div>
            </div>
     </div>
{% endblock %}
{% block js %}
{{ block.super }}
<script>
function start_bot(){
    $.ajax({
        url: '{% url "website:start_bot" %}',
        method: "GET",
        dataType: 'json',
      });
    }
function stop_bot(){
    $.ajax({
        url: '{% url "website:stop_bot" %}',
        method: "GET",
        dataType: 'json',
      });
    }
function restart_bot(){
    $.ajax({
        url: '{% url "website:restart_bot" %}',
        method: "GET",
        dataType: 'json',
      });
    }
var socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/control");
socket.onmessage = function (e) {
    let data = JSON.parse(e.data);
    console.log(data);
    let bot_status_element = $("#bot_status");
    let api_status_element = $("#api_status");
    if (data['service'] === 'api'){
        if (data['status'] === false){
            api_status_element.empty();
            api_status_element.append("<h3 class=\"float-left text-danger\">{% trans "Stopped" context "Api current status" %}</h3>");
        }
        else{
            api_status_element.empty();
            api_status_element.append("<h3 class=\"float-left text-success\">{% trans "Running" context "Api current status" %}");
        }
    }
    else if (data['service'] === 'bot'){
        if (data['status'] === false){
            bot_status_element.empty();
            bot_status_element.append("<h3 class=\"float-left text-danger\">{% trans "Stopped" context "Bot current status" %}</h3>");
            let buttons_block = $('<div />', {"class": 'button-container float-right mt-3'});
            buttons_block.append("<a class=\"btn btn-primary mb-0 mt-0 pl-2 pr-2\" href=\"#\" onclick=\"start_bot()\">{% trans "Start" context "Button for starting bot" %}</a>");
            bot_status_element.append(buttons_block)
        }
        else{
            bot_status_element.empty();
            bot_status_element.append("<h3 class=\"float-left text-success\">{% trans "Running" context "Bot current status" %}</h3>");
            let buttons_block = $('<div />', {"class": 'button-container float-right mt-3'});
            buttons_block.append("<a class=\"btn btn-primary mb-0 mt-0 pl-2 pr-2\" href=\"#\" onclick=\"stop_bot()\">{% trans "Stop" context "Button for stopping bot" %}</a>");
            buttons_block.append("<a class=\"btn btn-primary mb-0 mt-0 pl-2 pr-2\" href=\"#\" onclick=\"restart_bot()\">{% trans "Restart" context "Button for restarting bot" %}</a>");
            bot_status_element.append(buttons_block)
        }
    }
};
socket.onopen = function(e){
    $.ajax({
        url: '{% url "website:bot_status" %}',
        method: "GET",
        dataType: 'json',
      });
$.ajax({
        url: '{% url "website:api_status" %}',
        method: "GET",
        dataType: 'json',
      })
};
</script>
{% endblock %}
