{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}


    <div class="row mb-3">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <p class="card-category">{% trans "Uptime" %}</p>
                    <h3 class="card-title pl-2" id="uptime">
                        <svg id="spinner" class="spinner" width="30px" height="30px" viewBox="0 0 30 30"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="2" stroke-linecap="round" cx="15"
                                    cy="15" r="13"></circle>
                        </svg>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">sync</i><span id="start-date"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <p class="card-category">{% trans "Registered users" %}</p>
                    <h3 class="card-title pl-2" id='bot-users'>
                        <svg id="spinner" class="spinner" width="30px" height="30px" viewBox="0 0 30 30"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="2" stroke-linecap="round" cx="15"
                                    cy="15" r="13"></circle>
                        </svg>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> {% trans "All-time" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <p class="card-category">{% trans "Users that block bot" %}</p>
                    <h3 class="card-title pl-2" id='block-users'>
                        <svg id="spinner" class="spinner" width="30px" height="30px" viewBox="0 0 30 30"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="2" stroke-linecap="round" cx="15"
                                    cy="15" r="13"></circle>
                        </svg>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> {% trans "All-time" %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <p class="card-category">{% trans "Session duration" %}</p>
                    <h3 class="card-title pl-2" id="session-duration">
                        <svg id="spinner" class="spinner" width="30px" height="30px" viewBox="0 0 30 30"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="2" stroke-linecap="round" cx="15"
                                    cy="15" r="13"></circle>
                        </svg>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> {% trans "Average for all-time" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <p class="card-category">{% trans "Session actions" %}</p>
                    <h3 class="card-title pl-2" id='session-actions'>
                        <svg id="spinner" class="spinner" width="30px" height="30px" viewBox="0 0 30 30"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="2" stroke-linecap="round" cx="15"
                                    cy="15" r="13"></circle>
                        </svg>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> {% trans "Average for all-time" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <p class="card-category">{% trans "Number of sessions" %}</p>
                    <h3 class="card-title pl-2" id='number-of-sessions'>
                        <svg id="spinner" class="spinner" width="30px" height="30px" viewBox="0 0 30 30"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="2" stroke-linecap="round" cx="15"
                                    cy="15" r="13"></circle>
                        </svg>
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">date_range</i> {% trans "All-time" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-md-12">#}
    {#            <div class="card card-chart">#}
    {#                <div class="card-header card-header-success">#}
    {#                    Users chart#}
    {#                </div>#}
    {#                <div class="card-body">#}
    {#                    <div class="ct-chart" id="dailySalesChart"></div>#}
    {#                </div>#}
    {#                <div class="card-footer">#}
    {#                    <div class="stats">#}
    {#                        <i class="material-icons">access_time</i> updated 4 minutes ago#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    <div class="row mb-3">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                <li class="nav-item bg-success">
                    <a class="nav-link active" id="users-alltime-tab" data-toggle="tab" href="#users-alltime" role="tab"
                       aria-controls="users-alltime" aria-selected="true">{% trans "All time" %}</a>
                </li>
                <li class="nav-item bg-success">
                    <a class="nav-link" id="users-month-tab" data-toggle="tab" href="#users-month" role="tab"
                       aria-controls="users-month" aria-selected="false">{% trans "Month" %}</a>
                </li>
                <li class="nav-item bg-success">
                    <a class="nav-link" id="users-week-tab" data-toggle="tab" href="#users-week" role="tab"
                       aria-controls="users-week" aria-selected="false">{% trans "Week" %}</a>
                </li>
                <li class="nav-item bg-success">
                    <a class="nav-link" id="users-day-tab" data-toggle="tab" href="#users-day" role="tab"
                       aria-controls="users-day" aria-selected="false">{% trans "Day" %}</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="users-alltime" role="tabpanel" aria-labelledby="users-alltime-tab">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            {% trans "Users chart all time" %}
                        </div>
                        <div class="card-body" id="users-alltime-chart-container">
                            <canvas id="users-alltime-chart"></canvas>
                            <div class="text-center">
                                <svg id="spinner" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                            cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated ?? minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="users-month" role="tabpanel" aria-labelledby="users-month-tab">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            {% trans "Users chart month" %}
                        </div>
                        <div class="card-body" id="users-month-chart-container">
                            <canvas id="users-month-chart"></canvas>
                            <div class="text-center">
                                <svg id="spinner" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                            cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated ?? minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="users-week" role="tabpanel" aria-labelledby="users-week-tab">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            {% trans "Users chart week" %}
                        </div>
                        <div class="card-body" id="users-week-chart-container">
                            <canvas id="users-week-chart"></canvas>
                            <div class="text-center">
                                <svg id="spinner" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                            cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated ?? minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="users-day" role="tabpanel" aria-labelledby="users-day-tab">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            {% trans "Users chart day" %}
                        </div>
                        <div class="card-body" id="users-day-chart-container">
                            <canvas id="users-day-chart"></canvas>
                            <div class="text-center">
                                <svg id="spinner" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                            cy="33" r="30"></circle>
                                </svg>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated ?? minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {#        <div class="col-lg-6 col-md-12">#}
        {#            <div class="card">#}
        {#                <div class="card-header card-header-tabs card-header-primary">#}
        {#                    <div class="nav-tabs-navigation">#}
        {#                        <div class="nav-tabs-wrapper">#}
        {#                            <span class="nav-tabs-title">Tasks:</span>#}
        {#                            <ul class="nav nav-tabs" data-tabs="tabs">#}
        {#                                <li class="nav-item">#}
        {#                                    <a class="nav-link active" href="#profile" data-toggle="tab">#}
        {#                                        <i class="material-icons">bug_report</i> Bugs#}
        {#                                        <div class="ripple-container"></div>#}
        {#                                    </a>#}
        {#                                </li>#}
        {#                                <li class="nav-item">#}
        {#                                    <a class="nav-link" href="#settings" data-toggle="tab">#}
        {#                                        <i class="material-icons">cloud</i> Server#}
        {#                                        <div class="ripple-container"></div>#}
        {#                                    </a>#}
        {#                                </li>#}
        {#                            </ul>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <div class="card-body">#}
        {#                    <div class="tab-content">#}
        {#                        <div class="tab-pane active" id="profile">#}
        {#                            <table class="table">#}
        {#                                <tbody>#}
        {#                                <tr>#}
        {#                                    <td>#}
        {#                                        <div class="form-check">#}
        {#                                            <label class="form-check-label">#}
        {#                                                <input class="form-check-input" type="checkbox" value="" checked>#}
        {#                                                <span class="form-check-sign">#}
        {#                                                  <span class="check"></span>#}
        {#                                                </span>#}
        {#                                            </label>#}
        {#                                        </div>#}
        {#                                    </td>#}
        {#                                    <td>Sign contract for "What are conference organizers afraid of?"</td>#}
        {#                                    <td class="td-actions text-right">#}
        {#                                        <button type="button" rel="tooltip" title="Edit Task"#}
        {#                                                class="btn btn-primary btn-link btn-sm">#}
        {#                                            <i class="material-icons">edit</i>#}
        {#                                        </button>#}
        {#                                        <button type="button" rel="tooltip" title="Remove"#}
        {#                                                class="btn btn-danger btn-link btn-sm">#}
        {#                                            <i class="material-icons">close</i>#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>#}
        {#                                        <div class="form-check">#}
        {#                                            <label class="form-check-label">#}
        {#                                                <input class="form-check-input" type="checkbox" value="">#}
        {#                                                <span class="form-check-sign">#}
        {#                                    <span class="check"></span>#}
        {#                                  </span>#}
        {#                                            </label>#}
        {#                                        </div>#}
        {#                                    </td>#}
        {#                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>#}
        {#                                    <td class="td-actions text-right">#}
        {#                                        <button type="button" rel="tooltip" title="Edit Task"#}
        {#                                                class="btn btn-primary btn-link btn-sm">#}
        {#                                            <i class="material-icons">edit</i>#}
        {#                                        </button>#}
        {#                                        <button type="button" rel="tooltip" title="Remove"#}
        {#                                                class="btn btn-danger btn-link btn-sm">#}
        {#                                            <i class="material-icons">close</i>#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>#}
        {#                                        <div class="form-check">#}
        {#                                            <label class="form-check-label">#}
        {#                                                <input class="form-check-input" type="checkbox" value="">#}
        {#                                                <span class="form-check-sign">#}
        {#                                    <span class="check"></span>#}
        {#                                  </span>#}
        {#                                            </label>#}
        {#                                        </div>#}
        {#                                    </td>#}
        {#                                    <td>Flooded: One year later, assessing what was lost and what was found when a#}
        {#                                        ravaging rain swept through metro Detroit#}
        {#                                    </td>#}
        {#                                    <td class="td-actions text-right">#}
        {#                                        <button type="button" rel="tooltip" title="Edit Task"#}
        {#                                                class="btn btn-primary btn-link btn-sm">#}
        {#                                            <i class="material-icons">edit</i>#}
        {#                                        </button>#}
        {#                                        <button type="button" rel="tooltip" title="Remove"#}
        {#                                                class="btn btn-danger btn-link btn-sm">#}
        {#                                            <i class="material-icons">close</i>#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>#}
        {#                                        <div class="form-check">#}
        {#                                            <label class="form-check-label">#}
        {#                                                <input class="form-check-input" type="checkbox" value="" checked>#}
        {#                                                <span class="form-check-sign">#}
        {#                                    <span class="check"></span>#}
        {#                                  </span>#}
        {#                                            </label>#}
        {#                                        </div>#}
        {#                                    </td>#}
        {#                                    <td>Create 4 Invisible User Experiences you Never Knew About</td>#}
        {#                                    <td class="td-actions text-right">#}
        {#                                        <button type="button" rel="tooltip" title="Edit Task"#}
        {#                                                class="btn btn-primary btn-link btn-sm">#}
        {#                                            <i class="material-icons">edit</i>#}
        {#                                        </button>#}
        {#                                        <button type="button" rel="tooltip" title="Remove"#}
        {#                                                class="btn btn-danger btn-link btn-sm">#}
        {#                                            <i class="material-icons">close</i>#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                </tbody>#}
        {#                            </table>#}
        {#                        </div>#}
        {#                        <div class="tab-pane" id="settings">#}
        {#                            <table class="table">#}
        {#                                <tbody>#}
        {#                                <tr>#}
        {#                                    <td>#}
        {#                                        <div class="form-check">#}
        {#                                            <label class="form-check-label">#}
        {#                                                <input class="form-check-input" type="checkbox" value="">#}
        {#                                                <span class="form-check-sign">#}
        {#                                    <span class="check"></span>#}
        {#                                  </span>#}
        {#                                            </label>#}
        {#                                        </div>#}
        {#                                    </td>#}
        {#                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>#}
        {#                                    <td class="td-actions text-right">#}
        {#                                        <button type="button" rel="tooltip" title="Edit Task"#}
        {#                                                class="btn btn-primary btn-link btn-sm">#}
        {#                                            <i class="material-icons">edit</i>#}
        {#                                        </button>#}
        {#                                        <button type="button" rel="tooltip" title="Remove"#}
        {#                                                class="btn btn-danger btn-link btn-sm">#}
        {#                                            <i class="material-icons">close</i>#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>#}
        {#                                        <div class="form-check">#}
        {#                                            <label class="form-check-label">#}
        {#                                                <input class="form-check-input" type="checkbox" value="" checked>#}
        {#                                                <span class="form-check-sign">#}
        {#                                    <span class="check"></span>#}
        {#                                  </span>#}
        {#                                            </label>#}
        {#                                        </div>#}
        {#                                    </td>#}
        {#                                    <td>Flooded: One year later, assessing what was lost and what was found when a#}
        {#                                        ravaging rain swept through metro Detroit#}
        {#                                    </td>#}
        {#                                    <td class="td-actions text-right">#}
        {#                                        <button type="button" rel="tooltip" title="Edit Task"#}
        {#                                                class="btn btn-primary btn-link btn-sm">#}
        {#                                            <i class="material-icons">edit</i>#}
        {#                                        </button>#}
        {#                                        <button type="button" rel="tooltip" title="Remove"#}
        {#                                                class="btn btn-danger btn-link btn-sm">#}
        {#                                            <i class="material-icons">close</i>#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                <tr>#}
        {#                                    <td>#}
        {#                                        <div class="form-check">#}
        {#                                            <label class="form-check-label">#}
        {#                                                <input class="form-check-input" type="checkbox" value="" checked>#}
        {#                                                <span class="form-check-sign">#}
        {#                                    <span class="check"></span>#}
        {#                                  </span>#}
        {#                                            </label>#}
        {#                                        </div>#}
        {#                                    </td>#}
        {#                                    <td>Sign contract for "What are conference organizers afraid of?"</td>#}
        {#                                    <td class="td-actions text-right">#}
        {#                                        <button type="button" rel="tooltip" title="Edit Task"#}
        {#                                                class="btn btn-primary btn-link btn-sm">#}
        {#                                            <i class="material-icons">edit</i>#}
        {#                                        </button>#}
        {#                                        <button type="button" rel="tooltip" title="Remove"#}
        {#                                                class="btn btn-danger btn-link btn-sm">#}
        {#                                            <i class="material-icons">close</i>#}
        {#                                        </button>#}
        {#                                    </td>#}
        {#                                </tr>#}
        {#                                </tbody>#}
        {#                            </table>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">{% trans "Last users" %}</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <tr>
                            <td>{% trans "ID" context "ID of user in users talbe" %}</td>
                            <td>{% trans "Name" context "User name in users table"%}</td>
                            <td>{% trans "Username" context "Username in users table" %}</td>
                            <td>{% trans "Came from" context "Came from in users table" %}</td>
                            <td>{% trans "Joined" context "Joined date and time in users table" %}</td>
                        </tr>
                        </thead>
                        <tbody id="users-table">
                        <tr>
                            <td colspan="7" class="text-center">
                                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                            cy="33" r="30"></circle>
                                </svg>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
	    var dashboard_socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/dashboard");
        dashboard_socket.onopen = function (e) {
        $.ajax({
            url: '{% url "website:dashboard_data" %}',
            method: "GET",
            dataType: 'json',
        });
    };
    dashboard_socket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        if (data['data'] === false){
            $("#users-alltime-chart-container").empty().append("<div class='text-center' style='font-size: 20px'><span class='text-danger'>ERROR</span></div>");
            $("#users-table").empty().parent().parent().append("<div class='text-center' style='font-size: 20px'><span class='text-danger'>ERROR</span></div>");
            $("#bot-users").empty().append("<span class='text-danger'>ERROR</span>");
            $("#block-users").empty().append("<span class='text-danger'>ERROR</span>");
            $("#session-duration").empty().append("<span class='text-danger'>ERROR</span>");
            $("#session-actions").empty().append("<span class='text-danger'>ERROR</span>");
            $("#number-of-sessions").empty().append("<span class='text-danger'>ERROR</span>");
            return;
        }
        if (data['task'] === 'get_users') {
            users = data['data'];
            if (users === false) {
                $("#users-alltime-chart-container").empty().append("<div class='text-center' style='font-size: 20px'><span class='text-danger'>ERROR</span></div>");
                $("#users-table").empty().parent().parent().append("<div class='text-center' style='font-size: 20px'><span class='text-danger'>ERROR</span></div>");
                return
            }
            let users_per_day_unordered = {};
            users.forEach(function (user) {
                let user_join_date = Date.parse(user.join_date.split('T')[0]);
                let user_join_datetime = Date.parse(user.join_date);

                if (user_join_datetime in users_per_minute_unordered) {
                    users_per_minute_unordered[user_join_datetime] += 1
                } else {
                    users_per_minute_unordered[user_join_datetime] = 1
                }

                if (user_join_date in users_per_day_unordered) {
                    users_per_day_unordered[user_join_date] += 1
                } else {
                    users_per_day_unordered[user_join_date] = 1
                }
            });
            Object.keys(users_per_day_unordered).sort().forEach(function (key) {
                users_per_day[key] = users_per_day_unordered[key];
            });

            initChart(users_per_day, "users-alltime-chart");
            initUsersTable(users)
        }
        else if (data['task'] === 'get_uptime' && data['data'] != null) {
            if (data['data'] === false) {
                $("#uptime").empty().append("<span class='text-danger'>ERROR</span>");
                return
            }
            countUpFromTime(data['data'])
        }
        else if (data['task'] === 'get_start_date' && data['data'] != null) {
            if (data['data'] === false) {
                $("#start-date").empty().append("<span class='text-danger'>ERROR</span>");
                return
            }
            $("#start-date").empty().text("{% trans "Last restart" %}: " + new Date(data['data']).toDateString());

        }
        else if (data['task'] === 'get_stats' && data['data'] != null){
            if (data['data'] === false) {
                $("#bot-users").empty().append("<span class='text-danger'>ERROR</span>");
                $("#block-users").empty().append("<span class='text-danger'>ERROR</span>");
                $("#session-duration").empty().append("<span class='text-danger'>ERROR</span>");
                $("#session-actions").empty().append("<span class='text-danger'>ERROR</span>");
                $("#number-of-sessions").empty().append("<span class='text-danger'>ERROR</span>");
                return
            }
            $("#bot-users").empty().text(data['data']['number_of_users']);
            $("#block-users").empty().text(data['data']['number_of_users_who_blocked_bot']);
            $("#session-duration").empty().text(pluralize('{% trans "minute"%}', Math.round(data['data']['avg_session_duration']), true));
            $("#session-actions").empty().text(Math.round(data['data']['avg_session_actions']));
            $("#session-actions").empty().text(Math.round(data['data']['avg_session_actions']));
            $("#number-of-sessions").empty().text(data['data']['number_of_sessions']);
        }
    };
    </script>
    <script src="{% static "js/material-dashboard.js" %}" type="text/javascript"></script>
{% endblock %}
