{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/emojionearea.min.css" %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="card">
                <div class="card-header card-header-primary">
                    <div class="float-left">
                        <h4 class="card-title">{% trans "Distribution" %}</h4>
                        <p class="card-category">{% trans "Enter message and press Send button" %}</p>
                    </div>
                </div>
                <div class="card-body">
                    <form id="distribution" action="{% url "website:start_distribution" %}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="row">
                             <div class="col-md-10 offset-md-1">
                                <div class="form-group">
                                    <label class="bmd-label-floating" for="message-text">{% trans "Message" context "Message text for distribution" %}</label>
                                    <textarea class="form-control" id="message-text" name="text" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-12 col-md-6 offset-md-1 col-lg-12 d-flex">
                                <label class="switch">
                                  <input type="checkbox" name="web-preview" checked>
                                  <span class="slider round"></span>
                                </label>
                                    <p class="switch-text">{% trans "Web preview" context "Web preview switch for distribution message"%}</p>
                             </div>
                             <div class="col-12 col-md-5 col-lg-12 offset-lg-1 d-flex">
                                <label class="switch">
                                  <input type="checkbox" name="notification" checked>
                                  <span class="slider round"></span>
                                </label>
                                    <p class="switch-text">{% trans "Notification sound" context "Notification sound switch for distribution message" %}</p>
                                </div>
                            </div>

                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary" id="start_distribution">{% trans "Send" context "Send distribution message" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/emojionearea.min.js" %}"></script>

<script>
$(document).ready(function() {
    $("#message-text").emojioneArea({
        pickerPosition: "bottom"
        });
});
$("#distribution").submit(function (e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        let text_input = $("#message-text");
         $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(),
           success: function(data)
           {
               if (data['success'] === true){
                   text_input[0].emojioneArea.setText("");
               }
           }
         });
    }
);

var socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/control");
socket.onmessage = function (e) {
    let data = JSON.parse(e.data);
    console.log(data);
    if (data['service'] === 'api' && data['status'] === false){
        $("#start_distribution").attr("disabled", true);
    }
};
socket.onopen = function(e){
    $.ajax({
        url: '{% url "website:api_status" %}',
        method: "GET",
        dataType: 'json',
      });
}
</script>
{% endblock %}
