{% extends "base.html" %}
{% load i18n %}
{% load get from websitefilters %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block menu%}
{% endblock %}
{% block content_wrapper %}
<div class="row">
    <div class="card mx-auto login-card col-12 col-lg-4 col-md-6">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
            <hr>
            <p class="text-success text-center">{{ message }}</p>
            <form action="{% url "website:login" %}" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="next" value="{{ request.POST|get:"next:/dashboard" }}">
            <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="login" class="form-control pl-2" placeholder="{% trans "Login" context "User login placeholder in field" %}">
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                 </div>
                <input name="password" class="form-control pl-2" placeholder="******" type="password">
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> {% trans "Login" context "Login button on login page" %} </button>
            </div> <!-- form-group// -->
        {#	<p class="text-center"><a href="#" class="btn">Forgot password?</a></p>#}
            </form>
        </article>
    </div>
</div>
{% endblock %}