{% load i18n %}
{% load static %}
{% load avatar_tags %}
{% load get from websitefilters %}
        <nav id="sidebar" class="sidebar-wrapper">
             <div class="sidebar-hide">
                <a id="toggle-sidebar" class="sidebar-hide-button" href="#">
                    <span class="sidebar-hide-enable"><i class="fas fa-arrow-circle-left"></i></span>
                    <span class="sidebar-hide-disable"><i class="fas fa-arrow-circle-right"></i></span>
                </a>
            </div>
            <div class="sidebar-content">
                <!-- sidebar-brand  -->
                <div class="sidebar-item sidebar-brand">
                    <a href="#"><img class="sidebar-logo" src="{% static "img/logo-inversed.svg" %}"></a>
{#                    <div class="sidebar-pin">#}
{#                        <a id="pin-sidebar" class="" href="#">#}
{#                            <span><i class="fas fa-thumbtack"></i></span>#}
{#                        </a>#}
{#                    </div>#}

                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-item sidebar-header d-flex flex-nowrap">
                    <div class="user-pic">
                        <a href="{% url 'website:profile' %}">
                            <img class="img-responsive img-rounded" src="{% avatar_url user %}">
                        </a>
                    </div>
                    <div class="user-info">
                        <span class="user-name">{{ request.user.first_name }}
                            <strong>{% if request.user.first_name %}{{ request.user.last_name }}{% else %}Noname{% endif %}</strong>
                        </span>
                        <span class="user-role">{% if request.user.is_staff %}{% trans "Administrator" %}{% else %} {% trans "User" %} {% endif %}</span>
{#                        <span class="user-status">#}
{#                            <i class="fa fa-circle"></i>#}
{#                            <span>Online</span>#}
{#                        </span>#}
                    </div>
                </div>
                <!-- sidebar-search  -->
{#                <div class="sidebar-item sidebar-search">#}
{#                    <div>#}
{#                        <div class="input-group">#}
{#                            <input type="text" class="form-control search-menu" placeholder="Search...">#}
{#                            <div class="input-group-append">#}
{#                                <span class="input-group-text">#}
{#                                    <i class="fa fa-search" aria-hidden="true"></i>#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <!-- sidebar-menu  -->
                <div class=" sidebar-item sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>{% trans "General" context "Menu section" %}</span>
                        </li>
                        <li>
                            <a href="{% url "website:dashboard" %}">
                                <i class="fa fa-tachometer-alt"></i>
                                <span class="menu-text">{% trans "Dashboard" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "website:distribution" %}">
                                <i class="far fa-paper-plane"></i>
                                <span class="menu-text">{% trans "Distribution" %}</span>
                            </a>
                        </li>
{#                        <li>#}
{#                            <a href="{% url "website:chats" %}">#}
{#                                <i class="far fa-envelope"></i>#}
{#                                <span class="menu-text">Chats</span>#}
{#                            </a>#}
{#                        </li>#}
                        <li>
                            <a href="{% url "website:users" %}">
                                <i class="far fa-user"></i>
                                <span class="menu-text">{% trans "Users" %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url "website:control" %}">
                                <i class="fas fa-server"></i>
                                <span class="menu-text">{% trans "Control" %}</span>
                            </a>
                        </li>
                        {% if user.is_superuser %}
                            <li>
                                <a href="{% url "admin:index" %}">
                                    <i class="fas fa-tools"></i>
                                    <span class="menu-text">{% trans "Django admin" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-robot"></i>
                                <span class="menu-text">{% trans "Bots" %}</span>
                                <span class="badge badge-pill badge-danger">{{ user.bots.all|length }}</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    {% for bot in user.bots.all %}
                                    <li {% if request.session|get:"selected_bot:" == bot.id %}
                                            class="active"
                                        {% endif %}>

                                        <a href="{% url "website:change_bot" %}?bot={{ bot.id }}&next={{ request.path }}">{{ bot.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>

{#                        <li class="header-menu">#}
{#                            <span>Extra</span>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">#}
{#                                <i class="fa fa-book"></i>#}
{#                                <span class="menu-text">Documentation</span>#}
{#                                <span class="badge badge-pill badge-primary">Beta</span>#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-footer  -->
            <div class="sidebar-footer">
{#                <div class="dropdown">#}
{##}
{#                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        <i class="fa fa-bell"></i>#}
{#                        <span class="badge badge-pill badge-warning notification">3</span>#}
{#                    </a>#}
{#                    <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">#}
{#                        <div class="notifications-header">#}
{#                            <i class="fa fa-bell"></i>#}
{#                            Notifications#}
{#                        </div>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">#}
{#                            <div class="notification-content">#}
{#                                <div class="icon">#}
{#                                    <i class="fas fa-check text-success border border-success"></i>#}
{#                                </div>#}
{#                                <div class="content">#}
{#                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing#}
{#                                        elit. In totam explicabo</div>#}
{#                                    <div class="notification-time">#}
{#                                        6 minutes ago#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a class="dropdown-item" href="#">#}
{#                            <div class="notification-content">#}
{#                                <div class="icon">#}
{#                                    <i class="fas fa-exclamation text-info border border-info"></i>#}
{#                                </div>#}
{#                                <div class="content">#}
{#                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing#}
{#                                        elit. In totam explicabo</div>#}
{#                                    <div class="notification-time">#}
{#                                        Today#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a class="dropdown-item" href="#">#}
{#                            <div class="notification-content">#}
{#                                <div class="icon">#}
{#                                    <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>#}
{#                                </div>#}
{#                                <div class="content">#}
{#                                    <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing#}
{#                                        elit. In totam explicabo</div>#}
{#                                    <div class="notification-time">#}
{#                                        Yesterday#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item text-center" href="{% url "website:notifications" %}">View all notifications</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="dropdown">#}
{#                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        <i class="fa fa-envelope"></i>#}
{#                        <span class="badge badge-pill badge-success notification">7</span>#}
{#                    </a>#}
{#                    <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">#}
{#                        <div class="messages-header">#}
{#                            <i class="fa fa-envelope"></i>#}
{#                            Messages#}
{#                        </div>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">#}
{#                            <div class="message-content">#}
{#                                <div class="pic">#}
{#                                    <img src="{% static "img/user.jpg" %}" alt="">#}
{#                                </div>#}
{#                                <div class="content">#}
{#                                    <div class="message-title">#}
{#                                        <strong> Jhon doe</strong>#}
{#                                    </div>#}
{#                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing#}
{#                                        elit. In totam explicabo</div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </a>#}
{#                        <a class="dropdown-item" href="#">#}
{#                            <div class="message-content">#}
{#                                <div class="pic">#}
{#                                    <img src="{% static "img/user.jpg" %}" alt="">#}
{#                                </div>#}
{#                                <div class="content">#}
{#                                    <div class="message-title">#}
{#                                        <strong> Jhon doe</strong>#}
{#                                    </div>#}
{#                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing#}
{#                                        elit. In totam explicabo</div>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </a>#}
{#                        <a class="dropdown-item" href="#">#}
{#                            <div class="message-content">#}
{#                                <div class="pic">#}
{#                                    <img src="{% static "img/user.jpg" %}" alt="">#}
{#                                </div>#}
{#                                <div class="content">#}
{#                                    <div class="message-title">#}
{#                                        <strong> Jhon doe</strong>#}
{#                                    </div>#}
{#                                    <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing#}
{#                                        elit. In totam explicabo</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item text-center" href="{% url "website:chats" %}">View all messages</a>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="dropdown">#}
{#                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        <i class="fa fa-cog"></i>#}
{#                        <span class="badge-sonar"></span>#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">#}
{#                        <a class="dropdown-item" href="#">My profile</a>#}
{#                        <a class="dropdown-item" href="#">Help</a>#}
{#                        <a class="dropdown-item" href="#">Setting</a>#}
{#                    </div>#}
{#                </div>#}
                <div>
                    <a href="{% url "website:logout" %}">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
                <div class="pinned-footer">
                    <a href="#">
                        <i class="fas fa-ellipsis-h"></i>
                    </a>
                </div>
            </div>
        </nav>