{% load get from websitefilters %}
{% load i18n %}
{% load selected_bot from websitetags %}
{% get_available_languages as LANGUAGES %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute position-relative mb-4">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            {% if page_full_name %}
                <span class="navbar-brand">{{ page_full_name }}</span>
            {% else %}
                <span class="navbar-brand">{{ page_name }} - {% selected_bot %}</span>
            {% endif %}
            <span class="badge badge-pill badge-primary">Beta</span>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            {#            <form class="navbar-form">#}
            {#              <div class="input-group no-border">#}
            {#                <input type="text" value="" class="form-control" placeholder="Search...">#}
            {#                <button type="submit" class="btn btn-white btn-round btn-just-icon">#}
            {#                  <i class="material-icons">search</i>#}
            {#                  <div class="ripple-container"></div>#}
            {#                </button>#}
            {#              </div>#}
            {#            </form>#}
            <ul class="navbar-nav">
                {#              <li class="nav-item">#}
                {#                <a class="nav-link" href="#pablo">#}
                {#                  <i class="material-icons">dashboard</i>#}
                {#                  <p class="d-lg-none d-md-block">#}
                {#                    Stats#}
                {#                  </p>#}
                {#                </a>#}
                {#              </li>#}
                {#              <li class="nav-item dropdown">#}
                {#                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                {#                  <i class="material-icons">notifications</i>#}
                {#                  <span class="notification">5</span>#}
                {#                  <p class="d-lg-none d-md-block">#}
                {#                    Some Actions#}
                {#                  </p>#}
                {#                </a>#}
                {#                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">#}
                {#                  <a class="dropdown-item" href="#">Mike John responded to your email</a>#}
                {#                  <a class="dropdown-item" href="#">You have 5 new tasks</a>#}
                {#                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>#}
                {#                  <a class="dropdown-item" href="#">Another Notification</a>#}
                {#                  <a class="dropdown-item" href="#">Another One</a>#}
                {#                </div>#}
                {#              </li>#}
                <li class="nav-item">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for language in languages %}
                        <div class="d-inline-flex">
                        {% if language.code == LANGUAGE_CODE %}
                            <input type="submit" value="{{ language.code.upper }}" class="btn lang-nohover btn-dark disabled" disabled/>
                        {% else %}
                            <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}"/>
                                <input name="language" type="hidden" value="{{ language.code }}"/>
                                <input type="submit" value="{{ language.code.upper }}" class="btn btn-dark btn-outline" />
                            </form>
                        {% endif %}
                        </div>
                    {% endfor %}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="material-icons">person</i>
                        <p class="d-lg-none d-md-block">
                            Account
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                        <a class="dropdown-item" href="{% url "website:profile" %}">{% trans "Profile" %}</a>
                        {#                        <a class="dropdown-item" href="#">Settings</a>#}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "website:logout" %}">{% trans "Log out" %}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->