{% extends "base.html" %}
{% load i18n%}
{% load avatar_tags %}
{% block navbar_name %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header card-header-primary">
                    <div class="float-left">
                        <h4 class="card-title">{% trans "Edit Profile" %}</h4>
                        <p class="card-category">{% trans "Complete your profile" %}</p>
                    </div>
                    <div class="card-avatar float-right">
                        {% avatar user %}
                    </div>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" action="{% url "website:profile" %}" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Username" context "Site user login" %}</label>
                                    <input type="text" class="form-control" disabled value="{{ user.username }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Email" context "Site user email" %}</label>
                                    <input name="email" type="email" class="form-control" value="{{ user.email }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Fist name" context "Site user first name" %}</label>
                                    <input name="first_name" type="text" class="form-control" value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">{% trans "Last name" context "Site user last name" %}</label>
                                    <input name="last_name" type="text" class="form-control" value="{{ user.last_name }}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="id_avatar">{% trans "Avatar" context "Site user avatar" %}</label>
                                <input type="file" id="id_avatar" name="avatar">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">{% trans "Update Profile" context "Button which submits new profile data" %}</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}