{% extends "base.html" %}
{% load i18n %}
{% load get from websitefilters %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">{% trans "Bot users" %}</h4>
                    <p class="card-category"> {% trans "Here is users that registered in your bot" %}</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                {% trans "ID" context "ID of user in users talbe" %}
                            </th>
                            <th>
                                {% trans "Chat ID" context "Telegram chat id of user in users talbe" %}
                            </th>
                            <th>
                                {% trans "Name" context "User name in users table" %}
                            </th>
                            <th>
                                {% trans "Username" context "Username in users table" %}
                            </th>
                            <th>
                                {% trans "Came from" context "Came from in users table" %}
                            </th>
                            <th>
                                {% trans "Active" context "Is user active in users table" %}
                            </th>
                            <th>
                                {% trans "Language" context "Telegram user language in users table" %}
                            </th>
                            </thead>
                            <tbody id="user-table-data">
                            <tr>
                                <td colspan="7" class="text-center">
                                    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33"
                                                cy="33" r="30"></circle>
                                    </svg>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" id="paginator">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
            {#let current_page = new URL(document.location.href).searchParams.get("page");#}
            {#if (current_page <= 0 || current_page === undefined){#}
            {#    current_page = 1}#}

        {#function load_page(page_number) {#}
        {#    let objects_per_page = 5;#}
        {#    let path = document.location.pathname.substring(0, document.location.pathname.indexOf('?'));#}
        {#    path += "?page=" + page_number;#}
        {#    history.pushState('data to be passed', 'Title of the page', path);#}
        {##}
        {#    $("#user-table-data").innerHTML = "<tr>\n" +#}
        {#        "                                <td colspan=\"7\" class=\"text-center\">\n" +#}
        {#        "                                    <svg class=\"spinner\" width=\"65px\" height=\"65px\" viewBox=\"0 0 66 66\"\n" +#}
        {#        "                                         xmlns=\"http://www.w3.org/2000/svg\">\n" +#}
        {#        "                                        <circle class=\"path\" fill=\"none\" stroke-width=\"6\" stroke-linecap=\"round\" cx=\"33\"\n" +#}
        {#        "                                                cy=\"33\" r=\"30\"></circle>\n" +#}
        {#        "                                    </svg>\n" +#}
        {#        "                                </td>\n" +#}
        {#        "                            </tr>";}#}

        function load_users(users) {
            let user_table_body_elem = $("#user-table-data");
            if (users === false) {
                $("#user-table-data").empty().parent().parent().append("<div class='text-center' style='font-size: 20px'><span class='text-danger'>ERROR</span></div>");
                return
            }
            user_table_body_elem.empty();
            users.forEach(function (user) {
                let tr = $("<tr></tr>");
                tr.append("<td>" + (user.id == null ? "" : user.id) + "</td>");
                tr.append("<td>" + (user.chat_id == null ? "" : user.chat_id) + "</td>");
                tr.append("<td>" + (user.first_name == null ? "" : user.first_name) + " " + (user.last_name == null ? "" : user.last_name) + "</td>");
                tr.append("<td>" + (user.username == null ? "" : "<a href=\"https://t.me/" + user.username + "\">@" + user.username + "</a>") + "</td>");
                tr.append("<td>" + (user.came_from == null ? "" : user.came_from) + "</td>");
                tr.append("<td class=\"text-primary\">" + (user.block_date == null ? "{% trans "Yes"%}" : "{% trans "No"%}") + "</td>");
                tr.append("<td>" + (user.language_code == null ? "" : user.language_code) + "</td>");
                user_table_body_elem.append(tr)
            });
        }

        {#function load_paginator(users_quantity) {#}
        {#    let max_page = users_quantity / 5;#}
        {#    let paginator = $("#paginator");#}
        {#    paginator.append("<a class=\"btn btn-default\" onclick=\"load_page("+ (current_page - 1) +")\">PREV</a>");#}
        {#    for (let i = 1; i <= max_page; i++) {#}
        {#        paginator.append("<a  class=\"btn btn-default\" href=\"?page=" + i + "\">" + i + "</a>");#}
        {#    }#}
        {#    paginator.append("<a class=\"btn btn-default\" onclick=\"load_page("+ (current_page + 1) +")\">NEXT</a>");}#}

        var users_socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/users");
        users_socket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            if (data['data'] === false){
                $("#user-table-data").empty().parent().parent().append("<div class='text-center' style='font-size: 20px'><span class='text-danger'>ERROR</span></div>");
                return;
            }
            if (data['task'] === 'get_users') {
                load_users(data['data']);
            }
            {#if (data['task'] === 'get_stats') {#}
            {#    load_paginator(data['data']['number_of_users'])}#}
        };
        users_socket.onopen = function (e) {
            {#load_page(current_page);#}
            $.ajax({
                url: '{% url "website:users_data" %}',
                method: "GET",
                dataType: 'json',
            });
        };
    </script>
{% endblock %}
